.MuiTypography-h1 {
    text-align: left;
    color: white;
    font-family: 'Lato', sans-serif!important;
    font-weight: normal!important;
    font-size: 28px!important;
    max-width: 90%;
}
.MuiTypography-h2 {
    text-align: left;
    color: white;
    font-family: 'Lato', sans-serif!important;
    font-weight: normal!important;
    font-size: 64px!important;
    max-width: 90%;
}
.MuiTypography-h3 {
    text-align: left;
    color: white;
    font-family: 'Lato', sans-serif!important;
    font-weight: normal!important;
    font-size: 24px!important;
    display: block;
    max-width: 90%;
    width: 600px;
}

@media only screen and (max-width: 600px) {
    .MuiTypography-h1 {
        padding: 10px 20px;
        font-size: 18px!important;
    }
    .MuiTypography-h2 {
        padding: 10px 20px;
        font-size: 32px!important;
        line-height: 0.8!important;
    }
    .MuiTypography-h3 {
        padding: 10px 20px;
        font-size: 16px!important;
    }
}
